body a {
    text-decoration: none;
}

.button input {
    margin-top: 20px;
    width: 100px;
    height: 40px;
}

.commands {
    font-size: 1.5em;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: lightgray;
}
.commands a {
    margin-left: 10px;
}
.topic {
    margin-top: 10px;
    border-top: 1px solid #E19832; 
}
.reply {
    margin-top: 10px;
    border-top: 1px solid #E19832; 
}
.newtopic #subject textarea {
    height: 1.7em;
}
.newtopic #nick textarea, .newreply #nick textarea {
    height: 1.7em;
}
.topic_list .date {
    text-align: right;
    font-size: 0.6em;
}
.topic_list .postedby {
    text-align: right;
    font-size: 0.6em;
}
.topicheading {
    margin-top: 20px;
    margin-bottom: 20px;
}
.newreply {
    margin-top:20px;
}
.next {
    text-align: center;
}
.matches {
    font-size: 0.6em;    
    text-align: right;
}
