
#results {
    font-size: 1.3em; 
    font-family: inherit
    margin-top: 10px;
    margin-left: 10px;
    text-align: left;
}
#results a {
    text-decoration: none;
}

#results img {
    width: 50px;
    float: left;
}

#results #spiller {
    clear: both;
    padding-top: 10px;
}

#results #lewi, #results #millman, #results #cycle, #results #mb_stat {
    clear: both;
    padding-top: 20px;
} 

#results #chinese #title, #results #spiller #title, #lewiList, #millmanList, #cycleList, #mbStatList {
    margin-left: 80px;
}

#results #btype #title {
    margin-top: 15px;
    margin-left: 80px;
}

#lewiList a, #millmanList a, #mbStatList a {
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
}

#mbStatList img {
    margin-left: 10px;
    width: 20px;
}

#results #btype {
    clear: both;
    padding-top: 10px;
}

#dieting {
    text-align: center;
}

#forum textarea {
    height: 30px;
}

#forum #messages {
    margin-left: 10px;
    margin-right: 10px;
}

#mbti .question {
    margin: 10px 10px 10px 10px;
}

#mbti input {
    width: 10px;
    margin-left: 50px;
    margin-top: 10px;
}
#mbtierror {
    color: red;
}
#about {
    text-align: center;
}
