<html>

    {% include "top.html" %}
    
    <div id="document">
      
      <img id="welcomeimage" src="/web/img/chinese_ideogrames.jpg"/>    

      <div class="blurb">      
        <div class="blurbleft">
          <div class="blurbtitle">WHAT IS IT</div>
          <img src="/web/img/NOT_TheBuddha_small.jpg"/>
        </div>            
        <div class="text">
          Start <a href="/page?p=explore">exploring</a>! We use multiple methods
          for astrological analysis, Grant Lewi, Jan Spiller and Chinese methods
          are combined to give a richer outlook on a person. Our mobile site is
          at <a href="http://pocketbudda.appspot.com/mobile">http://pocketbudda.appspot.com/mobile</a>
          which can be accessed from any mobile phone with a browser. For more
          details on the method, you can find sources <a href="http://pocketbudda.blogspot.com">here</a>. 
        </div>            
      </div>
            
      <div class="blurb">      
        <div class="blurbleft">
          <div class="blurbtitle">BLOOD TYPE DIET</div>
          <img src="/web/img/blood_group.gif"/>
        </div>            
        <div class="text">
          Blood type diet can give you suggestions on ingredients that are
          beneficial or harmful for your metabolism. For example WALNUTS are
          extremely beneficial for blood type O, SPINACH for type B, SOY SAUCE
          for type A. You can look up any ingredient to see if it is beneficial,
          neutral or harmful for you. The founder of this method, Peter J
          D'Adamo is a naturopathic physician noted for his popular books on the
          Blood Type Diet. <a href="/page?p=explore">(Click to explore ...)</a>
        </div>            
      </div>
      
      <div>
        <div class="blurbad">
          <img src="/web/img/AdFormats_files/banner_img.jpg"/>
        </div>
      </div>
      
      <div class="blurb">      
        <div class="blurbleft">
          <div class="blurbtitle">CELEBRITY</div>
          <img src="/web/img/obama.jpg"/>
        </div>            
        <div class="text">
          You can explore celebrities, and how they match your character
          reading! 44th and the first African American president Barack Obama
          was born on <a href="/reading?d=19610804">August 4th, 1961</a>. His
          Chinese sign is Ox. Some of Barack Obama's Lewi numbers are 50 and 197
          We have over 5000 celebrities in our database, you can explore their
          characters, match them to yourself, or to your friends.
        </div>            
      </div>       
    
      
      {% include "footer.html" %}
      
    </div>    

    <div id="adrightside">
      <!-- <img src="/web/img/AdFormats_files/imagead_336x280.gif"/> -->
      <script type="text/javascript"><!--
                                         google_ad_client = "pub-8892285732370920";
                                         /* 336x280, created 5/7/11 */
                                         google_ad_slot = "9186683309";
                                         google_ad_width = 336;
                                         google_ad_height = 280;
                                         //-->
      </script>
      <script type="text/javascript"
              src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
      </script>      
    </div>
    
  </div>
  
  
</body>

</html>