<html>

    {% include "top.html" %}  
  
    <div id="document">
      <div id="pagetitle">
        Explore
      </div>      
            
      <div id="results">          
        <div>
          <div id="lewiresults">
            <div id="title">Lewi</div>
            {% for lewi in lewis %}
            <a href="/detail?item={{lewi}}&type=lewi">{{lewi}}</a>
            <span>              
            </span>
            {% endfor %}
          </div>
        </div>
        
        <div>
          <div id="spillerresults">
            <div id="title">Spiller</div>
            <a href="/detail?item={{spiller}}&type=spiller">{{spiller_converted}}</a>
          </div>
        </div>
        
        <div>
          <div id="chineseresults">
            <div id="title">Chinese</div>
            <a href="/detail?item={{chinese}}&type=chinese">{{chinese}}</a>
          </div>
        </div>
        
        {% ifnotequal btype '' %}
        <div>
          <div id="btyperesults">
            <div id="title">Blood Type</div>
            <a href="/detail?item={{btype}}&type=btype">{{btype}}</a>
          </div>
        </div>
        {% endifnotequal %}
        
        <div>
          <div id="lewiresults">
            <div id="title">Life Goal</div>
            {% for x in millman %}
            <a href="/detail?item={{x}}&type=millman">{{x}}</a>
            <span>              
            </span>
            {% endfor %}
          </div>
        </div>
                
        <div>
          <div id="lewiresults">
            <div id="title">Myers-Briggs</div>            
            <a href="/mweb/mbti/{{mb.lower}}.html">{{mb}}</a>
          </div>
        </div>
                
        <div>
          <div id="chineseresults">
            <div id="title">The Nine-Year Cycle for {{now_year}}</div>
            <a href="mweb/millman/nineyearcycle.html">{{cycle}}</a>
          </div>
        </div>
        
                
      </div>                             
      
      <div id="content">            
        <div id="summary">

          <div>
            <p>
             <img src="/web/img/{{chinese}}.jpg"/> {{chinese_summary}}...</li><a
             href="/detail?item={{chinese}}&type=chinese">(..click for more..)</a>
            </p>
          </div>
          
          <div>
            <p>
             <img src="/web/img/{{spiller}}.jpg"/> {{spiller_summary}}...</li><a
             href="/detail?item={{spiller}}&type=spiller">(.. click for more ..)</a>
            </p>
          </div>          
          
          <div>
            <p>
              <img width="100" src="/web/img/numbers-small.png"/>
              {{lewi_summary}}...<a href="/detail?item={{lewi_main}}&type=lewi">(click for more)</a>
            </p>            
          </div>

          <div>
            <p>
              <img width="100" src="/mweb/img/mountain.jpeg"/>
              {{millman_summary}}...<a href="/detail?item={{millman_main}}&type=millman">(click for more)</a>
            </p>
          </div>
                    
          <div>
            <p>
              <img width="100" src="/mweb/img/mbti.jpeg"/>
              <div>
                <h4>MBTI Method</h4>
              </div>
              {{mbti_summary}}
            </p>
          </div>
                    
          
        </div>
        
        <div id="share">
          <img src="/web/img/twitter.gif"/>
          <a href="http://twitter.com/home?status=Currently reading http://pocketbudda.appspot.com/reading?d={{code_date}}"
             title=Astrology reading for {{date}} Twitter">Share on Twitter</a>
          
          <a name="fb_share" type="icon_link"
             href="http://www.facebook.com/sharer.php">Share on Facebook</a><script
             src="http://static.ak.fbcdn.net/connect.php/js/FB.Share"
             type="text/javascript"></script>          
        </div>
        
      </div>
      
    </div>
    
  </body>  
  
</html>