label {
    width: 6em;    
    font-weight: normal;
}

fieldset #name {
    float: left;    
}

fieldset { 
    border: 1px solid #C3BBB6;
    background-color: snow;
    padding-bottom: 20px;    
}

fieldset input, fieldset select {
    float: left; 
}  

#friends #bdayblood {    
    display: none;
}

#bloodinput #btype, #bdayinput select {
    float: left;
}

#friends input {
    font-size: 9pt;
    height: 18px;
}    

#bdayblood select {
    height: 22px;
    font-size: 9pt;    
    background-color: white;
    margin: 0px 3px 0 3px;
    border: 1px solid #C3BBB6;
}

#bdayblood label, #bdayblood #mon {
    float: left;
}

#friends table {    
    background-color: whitesmoke;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 50px;
    margin-top: 30px;
    clear: both;
}

#friends table .action {
    font-size: 8pt;
    text-align: right;
}

#friends table .actions {
    font-size: 8pt;
    text-align: right;
    visibility: hidden;
}

#content #friends {
    margin-top: 10px;
}

#content #friends table {
    font-size: 10.0pt;
    width: 600px;    
}

#friends table td {
    height: 50px; 
}

#friends .pic img {
    width: 40px;
}

#friends #buttonprev {
    display: none;
}

#buttonprev img, #buttonnext img {
    margin-top: 3px;
    margin-left: 10px;
    border-style: none;    
}

#friends #buttonnext a img {
    margin-top: 2px;
}

#friends #buttons {
    clear: both; 
    margin-top: 20px;
}

#scroller .scrollelem {
    float: left;
}

#scroller {
    background-color: whitesmoke;
    margin-left: 200px;
}

#scroller a {
    text-decoration: none;
}

#facebookimport {
    position: absolute;
    top: 520px;
    left: 780px;
    padding: 25px 40px 25px 40px;
    border: 1px solid black;
}

#facebookimport a:link {
    color: white;
}

.addgroupbutton
{
    float: left; 
    background-color:#417596;
    color:white;
    font-size:8pt;
    font-weight:bold;
    border:1px solid black;
    width: 60px;
    height: 20px;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
}
