
body {
    font-family:'Lucida Grande',sans-serif;
    line-height: 1.4em;
    padding: 0px 0px 30px 0px;
}

#share {
    margin-top: 30px;
    text-align: center;
}
#share a {
    margin-left: 10px;
}    
#share img {
    width: 20px;
}

input {
    height: 1.65em;
    border: 1px solid #C3BBB6;
}

.NEUTRAL {
    color: blue;
}

.AVOID {
    color: red;
}

.BENEFICIAL {
    color: darkgreen;
    font-weight: bold;
}

.MenuBox007 {
    position: absolute;
    padding: 0px;
    width: 320px;
    height: 30px;
    left: 10%;
    top: 116px;
}

.h_menu_001{
    width: 97%;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: bold;
    font-style: normal;
    text-decoration: none;
}

.h_menu_001 ul{
    margin: 0px;
    padding: 0px;
    float: left;
    width: 100%;
    background: #EAEAEA;
    border-top-width: 1px;
    border-right-width: 0px;
    border-bottom-width: 1px;
    border-left-width: 0px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: #EAEAEA;
    border-right-color: #EAEAEA;
    border-bottom-color: #EAEAEA;
    border-left-color: #EAEAEA
}

.h_menu_001 ul li{
    display: inline;
}

.h_menu_001 ul li a{
    float: left;
    color: #004080;
    padding: 5px 11px;
    text-decoration: none;
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: #EAEAEA;
}

.h_menu_001 ul li a:visited{
    color: #004080;
}

.h_menu_001 ul li a:hover, .h_menu_001 ul li .selected{
    color: #000066 !important;
    padding-top: 5px;
    padding-bottom: 5px;
    background: #DDDDDD;
}

#middlemenu {
    position: absolute;
    left: 535px;
    margin-left: 5%;
    top: 360px;    
}

#document {
    float: left;
    width: 80%;
    padding-top: 150px;
    font-size: 9pt;
    margin-left: 10%;
}

#document #welcomeimage {
    margin: 20px 0px 50px 10px;
}

#midupperad {
    position: absolute;
    left: 540px;
    margin-left: 5%;
    top: 235px;
}

#adrightside {
    position: absolute;
    top: 200px;
    left: 650px;
    margin-left: 10%;
}

#rightmiddle {    
    position: absolute;
    top: 540px;
    left: 650px;
    margin-left: 10%;
}

#rightmiddle #food {    
    width: 340px;
}

#btyperesad {
    position: absolute;
    left: 500px;
    top: 350px;
}


#top {
    position: absolute;
    background: url(/web/img/headers/header_bg2.gif) repeat-x fixed top left;
    left: 0px;
    top:0px;
    height: 150px;
    width: 100%;
}

#top #title {
    float: left;
    padding-left: 9%;
    margin-top: 17px ;
}

#top #title img {
    border: 0px;
    margin-top: 4px;
}

#top #ad {
    position: absolute;
    top: 17px;
    left: 370px;
}

#footer {
    clear: both;
    font-size: 8pt;
    padding-top: 100px;
    margin-left: 100px;
    margin-bottom: 100px;
    width: 400px;
}

#footer #links {
    margin-left: 11%;
}   

#footer a {
    margin: 15px;
}

#datainput {
    border-top: 1px solid #C3BBB6; 
    border-bottom: 1px solid #C3BBB6; 
    background-color: whitesmoke;
    margin-top: 20px;
    margin-right: 10px;
    padding-top: 20px;
    font-size: 9.0pt;
    height: 45px;
    width: 400px;
}

#datainput #bdayinput {
    float: left;
}

#bloodinput #btype, #bdayinput input, #bdayinput select {
    float: left;
}

#bdayinput select {
    margin-left: 2px;
    margin-right: 2px;
}
#bloodinput select {
    width: 50px;
}

#bloodinput select, #bdayinput select {
    border: 1px solid #C3BBB6; 
    background-color: white;
    color: black;
    font-size: 9pt;
    height: 22px;    
}

#datainput input {
    font-size: 9pt;
    height: 1.8em;
}    

#bdayinput #month {
    float: left;
    width: 55px;
    padding-left: 3px;
}

#datainput #label {
    float: left;
    margin: 0px 6px 3px 3px;
}

#datainput #bloodinput {
    float: left;
    margin-left: 10px;
}

/* ------------------------------------------*/

label {
    /* display: block; */
    float: left;
    width: 12em;    
    margin-left: 1em;
    font-weight: bold;
}

fieldset {
   background-color: white;
}

#adamolink {
    font-size: 7.0pt;
    text-align: right;
    padding-right: 10px;
}

.btyperesults {
    border-bottom: 1px solid #C3BBB6;
    padding: 0px;
    background-color: ghostwhite;
    width: 600px;
    clear: both;
}

.btyperesults #title {
    height: 150px;
}

.btyperesults #name {
    font-size: 14pt;
}

.btyperesults img {
    margin-top: 20px;
    margin-bottom: 70px;
    width: 80px;
}

#btypeinput {
    padding-bottom: 20px;
}

#btypeinput #food {
    width: 120px;
}

/* ------------------------------------------*/

#button a {
    border-style: none;
}
    
#button a img {
    margin-top: 4px;
    margin-left: 10px;
    border-style: none;
}
    
/* ------------------------------------------*/

#results {
    clear: both;
    float: left;
    top: 230px;
    margin-top: 0px;
    margin-right: 20px;
    height: 340px;
    margin-bottom: 200%;
    width: 120px;
    font-size: 10.0pt;
}

#results #title {
    font-weight: bold;    
    border-top: 1px solid #C3BBB6;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 20px;
    margin-bottom: 10px;
    background-color: white;
}

#results #actionlinks {
    position: relative; 
    margin-bottom: 20px;
}

#results  a {
    margin: 5px;
}

#results #*results {
    position: relative;
}

#results img {
    width: 100px;
}

/* ------------------------------------------*/

#content {
    margin-right: 20px; 
    width: 600px;
}

#recipetext, #content #lewitext, #content #btypedetail {
    width: 570px;
}

#content #btypedetail, #content #lewitext, #content #summary, #content #explanation {
    padding-top: 10px;
}

#btypedetail .button {
    margin-top: 10px;
}

#content #astrodetailtitle {
    margin-top: 5px;
    font-size: 12pt;
    font-style: italic;
}

#content #matches {
    font-size: 10pt;    
    width: 600px;
}

#content #recipeinput {
    font-size: 10pt;    
    width: 600px;
}

#content #remove {
    font-size: 7.0pt;
    margin-left: -5px;
}

#content #recipeinput #newname {
    display: none;
}

/* ------------------------------------------*/

.r1 {
    float: left;
    margin: 5px;
}

.r1 a {
    margin-left: 4px;
}

.r1 li {
    list-style: none;    
}

.r1 .remove {
    font-size: 8pt;
}    

#content #summary {
    width: 600px;    
}
.button
{
    float: left; 
    background-color:#417596;
    color:white;
    font-size:8pt;
    font-weight:bold;
    border:1px solid black;
    width: 33px;
    height: 20px;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
    text-align: center;
}

#button1 {
    margin-left: 20px;
}

/* ------------------------------------------*/

#pagetitle {
    background: url(/web/img/titleback.gif) 0px 0px repeat-x;
    font-size: 20.0pt;
    color: #004080;
    height: 60px;
    line-height: 2em;
    width: 700px;
}


/* ------------------------------------------*/

#reciperesults table, #matchresults table {
    margin-bottom: 100px;
    margin-top: 10px;
    border-top: 1px solid #C3BBB6;
    clear: both;
}

#reciperesults table, #matchresults table {
    font-size: 10.0pt;
    width: 500px;    
}

#reciperesults table td, #matchresults table td {
    height: 80px;
    border-bottom: 1px solid #C3BBB6;    
    text-align: center;
}

#reciperesults table tr td img {
    width: 50px;
}

/* ------------------------------------------*/

#who2, #who1 {
    width: 80px;
}


/* ------------------------------------------*/

.autocomplete {
    position:absolute;
    margin:0px;  
    padding:0px;  
    width:250px;
    background:#fff;
    border:1px solid #888;
}
.autocomplete ul {
    margin:0px;
    padding:0px;
    list-style-type:none;
}
.autocomplete ul li.selected { 
    background-color:#ffb;
}
.autocomplete ul li {
    margin:0px;
    padding:2px;
    height:50px;
    display:block;
    list-style-type:none;
    cursor:pointer;
}

/* ------------------------------------------*/

#login-link {
    position: absolute;
    top: 120px;
    right: 13%;
    color: white;
    font-size: 10pt;
}

#login-link a {
    text-decoration: none;
    margin-left: 20px;
}
#login-link a:link, #login-link a:visited {
  color: #FFFFFF;
}

#content #authorphoto {
    width: 180px;
    float: left;
    margin: 5px;
}

#matches #matchsourceid input {
    display: none;
}

#edit #datainput {
    border-top: 0px;
    border-bottom: 0px;
    background-color: white;    
}

#edit #datainput {
    margin-top: -30px;
}

#edit #buttons {
    clear: both;
    margin-top: 80px;
    margin-left: -10px;
}

#edit #photo #title {
    margin-bottom: 10px;
}

#edit #photo img {
    width: 80px;
}

#edit #photo {
    margin-bottom: 20px; 
}

.btyperesults #btype {
    font-style: italic;
    margin-bottom: 5px;
}

#document #errormessage {
    font-size: 14pt;
    margin-top: 200px;
    margin-left: 200px;
}

#friends {
    margin: 10px 10px 10px 10px;
}

#friends #row {
    clear: both;
}

#friends .image, #friends .cycle, #friends .name, #friends .millman, #friends .lewi, #friends .spiller, #friends .chinese, #friends .mbti {
    float: left;
    width: 90px;
    margin-bottom: 10px;
    text-align: center;
}

#loading {
    position: absolute;
    top: 300px;
    left: 300px;
}

#friends #ad {
    padding-left: 200px;
    padding-top: 20px;
    padding-bottom: 20px;
    clear: both;
}

#friends #commands {
    clear: both;
    margin: 30px 0px 0px 300px ;
}

#friends #commands #prev {
    margin-right: 70px;
}
