/* page submenu tabs */

.submenu {
  border-bottom: 1px solid #ccc;
  margin: 0;
  margin-top: 1em;
  padding-bottom: 23px;
  padding-left: 10px;
}

.submenu ul, .submenu li {
  display: inline;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.submenu span {
  display: block;
  margin: 0;
  padding: 0;
  position: relative;
}

.submenu a:link, .submenu a:visited {
  background: #E8EBF0;
  border: 1px solid #ccc;
  color: blue;
  float: left;
  font-weight: normal;
  line-height: 14px;
  margin-right: 8px;
  padding: 4px 10px 4px 10px;
  text-decoration: none;
}

.submenu a:link.activeProduct, .submenu a:visited.activeProduct	{
  background: #fff;
  border-bottom: 1px solid #fff;
  color: #000;
}

.submenu .activeProduct {
  text-decoration: none;
  background: #fff;
  border-bottom: 1px solid #fff;
  color: #000;
  font-weight: bold;
  cursor: text;
}
div.submenutables {
  width: 100%;
  border: 1px solid #ccc;
  border-top: 0;
  clear: left;
}

table.submenutables {
  padding: 1em;
}

div.submenutables h3 {
  margin: 0;
}

div.activeSection {
  display: block;
}

div.inactiveSection {
  display: none;
}

table.reftable {
  border-collapse: collapse;
  width: 100%;
}

table.reftable td.body {
  border-width: 0;
  padding-top: 2em;
}

table.reftable th {
  font-weight: bold;
  padding: 1em 1em 0 1em;
  vertical-align:  top;
}

table.reftable th span {
  font-weight: normal;
  color: #666;
}

table.reftable td {
  border: 1px solid #ddd;
  border-width: 1px 0;
  padding: 1em;
}

table.reftable td.code {
  width: 150px;
  /*padding: 0;*/
}

table.reftable td.preview {
  background: #eee;
  padding: 1em 0em 1em 0em;
}

table.reftable td.preview img {
  vertical-align: middle;
}

table.reftable td.preview label {
  /*width: 25%;*/
  display: block;
  float: left;
  margin: 1em 1em 1em 1em;
  white-space: nowrap;
}

table.reftable textarea {
  height: 175px;
  margin: 0;
  background: #f0f0f0;
}
