.header {
  padding: 4px;
  background: #ffffff;
}

.title, .title td {
  font-size: 100%;
}

.title, .caption, tr.caption th {
  color: #000;
  font-weight: bold;
}

th.caption {
  white-space: nowrap;
  text-align: left;
}

.pagetitle {
  color: #000;
  font-weight: bold;
  font-size: 125%;
}

.logo {
  padding-top: 5px;
}

.separator {
  background-color: #cfcfcf;
}

.error, .errorbox-bad {
  color: red;
  border: outset 1px red;
  padding: 2px;
  background-color: #ffdcdc;
}

th {
  text-align: left;
  font-weight: normal;
}

body {
  background-color: #ffffff;
}

body, td, th {
  font-family: arial, sans-serif;
  font-size: 83%;
}

.submit {
}

.bigSubmit {
  padding: 5px;
  background-color: #6699cc;
  border-top: solid 2px white;
  border-left: solid 2px white;
  border-right: solid 2px black;
  border-bottom: solid 2px black;
}

.hint {
  font-size: 75%;
}

.title, .body {
  margin-right: 24px;
}

.title, .body, .form, .form-padding-top, .form-noborder {
  margin-left: 24px;
}

.form-padding-top {
  padding-top: 10px;
}

.form, .form-noindent, .form-padding-top, .form-noborder {
  background-color: #ffffff;
}

.form, .form-noindent, .form-padding-top {
  border: solid 1px #6699cc;
}

.form-sub-header {
  background-color: #efefef;
  border: solid 1px #6699cc;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  white-space: nowrap;
  margin-top: 3ex;
}

.form-sub-header a, a.internalNavigation {
  color: #0000ff
}

table.form, table.form-padding-top {
  border-collapse: collapse;
}

.form .form {
  border-style: none;
}

/*
 * The formtabl style is used by the Account Access sub tab to
 * display the Hosts With Access table
 */
.formtable {
  border:1px solid #ddd;
  border-collapse:collapse;
}

.formtable thead td {
  font-weight:bold;
  background:#eee;
  vertical-align:bottom;
}

.formtable td {
  padding:0.25em 0.5em;
  border-bottom:1px solid #ddd;
}

.formtable table td {
  border-bottom:0;padding:0;
}

.copy {
  color: #6F6F6F;
}

.new {
  color: red;
}

.errorText {
  color: red;
}

.no-wrap {
  white-space: nowrap;
}

.ad {
  border: solid 1px #cfcfcf;
  background-color: #efefef;
  text-align: center;
}

.ad td {
  font-size: 100%;
  background-color: #efefef;
  vertical-align: top;
}

.faq_toc_section {
  font-size: 100%;
  font-weight: bold;
  margin-top: 10pt;
  margin-bottom: 5pt;
}

.faq_toc_section li {
  margin-bottom: 6pt;
}

.faq_section_title {
  font-size: large;
  margin-top: 14px;
  margin-bottom: 14px;
  font-weight: bold;
}

.faq_subsection_title, .policy_section_title {
  margin-bottom: 12px;
  margin-top: 12px;
  font-size: 100%;
  font-weight: bold;
}

.faq_body, .policy_body li {
  margin-bottom: 5pt;
}

.site_filter_title {
  font-weight: bold;
}

.site_filter_example {
  color: #6F6F6F;
}

.site_filter_example_green {
  color: #339933;
}

.site_filter_example_gray {
  color: #999999;
}

/*
 * A more generic definition of text class for example strings under form input
 * fields.
 * 
 * TODO(lknguyen): Convert the above site_filter_example to use this class.
 */
.form-example-text {
  color: gray;
  font-size: 0.8em;
}

.bignum {
  font-weight: bold;
  vertical-align: top;
  font-size: 260%;
}

.welcome-startbox {
  width: 100%;
  border-color: #6699cc;
  text-align: center;
  border-style: solid none solid none;
  border-width: 3px 0px 3px 0px;
  padding: 10px;
  margin: 0px;
}

.dotted-border {
  border-right: dotted;
  border-right-width: 1px;
}

.buttonborder {
  background-color: #6699cc;
  margin: 0px;
  padding: 2px;
  border-width: 2px;
  border-style: outset;
  border-color: #6699cc;
  border-spacing: 0;
}

.buttonborder td, buttonborder tr {
  background-color: #6699cc;
}

.cancelborder {
  background-color: transparent;
  margin: 0px;
  padding: 2px;
  border-width: 2px;
  border-style: none;
  border-color: transparent;
  border-spacing: 0;
}

small {
  font-size: 75%;
}

/* fine-print (used for examples) */
.fine {
  color: #6f6f6f;
}

.inline {
  display: inline;
  vertical-align: middle;
}

/*
 * adsense-body is older, deprecated in the online frontend but may
 * still be useful in standalone pages (like application, etc)
 * See also "#content" below.
 */
.adsense-body {
  background-color: #ffffff;
  width:700px;
}

.adsense-body h2 {
  font-size:1em;
  padding:5px;
  margin-bottom:0;
  background:#efefef;
  border:1px solid #6699cc;
  margin-top:0;
}

.adsense-body h2 .meta {
  font-size:0.9em;
  font-weight:normal;
  padding-left:0.5em;
}

.adsense-afs-body {
  background-color: #ffffff;
  width:800px;
}

.adsense-afs-body h2 {
  font-size:1em;
  padding:5px;
  margin-bottom:0;
  background:#efefef;
  border:1px solid #6699cc;
  margin-top:0;
}

.adsense-afs-body h2 .meta {
  font-size:0.9em;
  font-weight:normal;
  padding-left:0.5em;
}

.adcode-body {
  background-color: #ffffff;
  color: #6699cc;
  border:thin solid;
  border-width:1;width:95%
}

.websearch-settings {
  border-top: 1px solid #6699cc;
  border-left: 1px solid #6699cc;
  border-right: 1px solid #6699cc;
}

tr.top {
  background-color: #efefef;
  font-weight: bold;
}

.indent5 {
  margin-left:5;
}

tr.active   {
  background-color: #ffffff;
}

tr.inactive {
  background-color: #efefef;
}

tr.selected {
  background-color: #ffffcc !important;
  display: table-row;
}

tr.visible {
  display: table-row;
}

tr.invisible {
  display: none;
}

table.exampleTable td {
  padding: 0ex 0.3em;
  vertical-align: baseline;
}

table.settingsTable td {
  vertical-align: baseline;
}

table.settingsTable td.key {
  padding-left: 5px;
  white-space: nowrap;
}

table.settingsTable td.tableKey {
  vertical-align: top;
  padding-left: 5px;
  white-space: nowrap;
}

.settingsControl {
  padding-left: 5px;
}

a.quickHelpLink {
  text-decoration: none;
  font-weight: bold;
  color: #0000ff;
}

a.quickHelpLink:hover {
  text-decoration: underline;
}

.promo-title {
  font-weight: bold;
  color: #6699cc;
}

span.meta {
  font-size: 80%;
}

/* HR in Copyright.gxp */
hr.copy {
  border: 0;
  color: #6699cc; /* IE */
  background-color: #6699cc; /* Mozilla, Firefox */
  height: 1px;
  width: 100%;
}

/*
 * "content" is for all the below-the-tab content in the frontend. See
 * also "adsense-body". Best to use one or the other in any case, not
 * both together. "content" will be used going forward.
 */
#content {
  padding: 0 0;
  margin: 0 10px;
}

#content h1 {
  font-size: 1.5em;
  margin-top: 0;
}

#content h2 {
  font-size: 1.25em;
  margin-bottom:0.5em;
}

#content h3 {
  font-size: 1.15em;
  margin: 0;
}

h2.subHeadingBar {
  background: #eeeeee;
  font-size: 1em !important;
  border: 1px solid lightblue;
  padding: 0.5em;
}

td.noWebsearchResults {
  text-align: center;
  width: 50%;
  padding: 20px;
  font-size: 1em;
}

/* Style for easy "steps" instructions. Used by Netting and Eft pages. */
td.stepsDiagramNumber {
  font-size: 2em;
}
td.stepsDiagramText {
  width: 200px;
}
table.stepsDiagram {
  width: 100%;
}
div.stepsDiagram {
  width: 700px;
  border: 1px solid lightblue;
  background-color: #efefef;
  padding-top: 1em;
  padding-right: 1em;
  padding-bottom: 1em;
  padding-left: 0;
}
p.stepsDiagram {
  margin-top: 1em;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: 1em;
  font-size: 0.8em;
}

/* Style for a button that looks like a link. */
.linkButton {
  text-decoration:underline;
  color:#3366cc;
  background-color:#FFFFFF;
  border-style:none;
}

/* Style used for China EFT results table. */
.linedPaperTable {
  border-collapse:collapse;
}

.linedPaperTable td {
  padding:5px 7px;
  text-align:left;
  vertical-align:top;
  font-size:0.83em;
  border-top:1px solid #def; 
  border-bottom:1px solid #def;
}

/* Style for Custom Error Messages error box. */
.customErrorBox {
  width: 700px;
  color: black;
  border: solid 1px red;
  padding: 2px;
  background-color: #ffdcdc;
}

/* Style for FOP selection confirmation forms. */
form.fopSelectionConfirmForm {
  padding: 0.5em 1em 1em 1em;
  background: #eee;
}

/* Style for EFT verification screens. */
form.eftVerification {
  padding: 0.5em 1em 1em 1em;
  background: #eee;
}
p.eftVerification {
  border: 1px solid #ccc;
  background: #f0f0f0;
  padding: 0.25em 1em;
}

/* Style for mobile AFC online Get Ad Code section. */
tr.highlightRow td {
  padding: 0.5em;
  background: #E6F3FF;
  border: 1px solid #ccc;
  border-width: 1px;
}

/* Style for Getting Started pages. */
p.submitrow {
  padding:0.5em;
  background:#E6F3FF;
  border:1px solid #ccc;
  border-width:1px 0;
}

tr.submitrow td {
  padding:0.5em;
  margin:0;
  background:#E6F3FF;
  border:1px solid #ccc;
  border-width:1px 0;
}

/* Style for Onsite Advertiser Sign-up pages */
#oasuSettings td {
  padding:0.5em 1em ;
}
#oasuSettings td td {
  padding:0 0 0.5em 0;
}
#oasuSettings .masterrow td {
  background:#E6F3FF;
  border:1px solid #ccc;
  padding:0.75em 1em;
}

#oasuContent {
  padding:15px 0;
  margin:0 10px;
  padding-top: 0;
}

.logoPlaceholder {
  margin-right: 2em;
}

/*
 * IE 6 doesn't handle the margin-left correctly for right-to-left languages
 * i.e. Hebrew, so if the margin-left is increased beyond 0.1em it will
 * display incorrectly and truncate the field
 */
.colorfield {
  font-family: "Courier New", Courier, monospace;
  margin-left: 0.1em;
  margin-right: 0.5em;
}

div.paymentschedule {
  border: 1px solid #ccc;
  padding: 1em;
}

div.paymentschedule dl {
  margin: 0;
}

div.paymentschedule dl dt {
  font-weight: bold;
  margin-top: 1em;
}

div.paymentschedule dl dd {
  margin-top: 0.25em;
  margin-right: 0;
  margin-bottom: 0.25em;
  margin-left: 0.5em;
}

/* All #paymentschedule styles are used in the PaymentSummaryHtml.gxp */
#paymentschedule {
  border-collapse: collapse;
}

#paymentschedule td {
  padding: 1em;
  border: 1px solid #ccc;
}

#paymentschedule table td {
  padding: 0;
  border: 0;
}

#paymentschedule .calendar {
  border-collapse:collapse;
}

#paymentschedule .calendar td {
  border: 1px solid #ddd;
  color: #666;
  font-size: 12px;
}

#paymentschedule .calendar div {
  padding: 4px;
}

#paymentschedule .legendcolor {
  border: 1px solid #ccc;
  padding: 8px 10px;
  font-size: 2px;
  margin-right: 5px;
}

/* Style for hidden iframes */
iframe.hidden {
  width: 0px;
  height: 0px;
  border: 0;
}

/* General formatting */
.indented {
  padding-left: 0;
  margin-left: 1.5em;
}

.padding-indented {
  text-align: left !important;
  padding-left: 2em;
}

.padding-small-indented {
  padding-left: 1em;
}

.padded-rt {
  padding-right: 2%;
}

/* Style for AdSense Setup page */
#productsummary h2 {
  white-space: nowrap;
  font-size: 1.15em;
  padding-bottom: 3px;
  margin: 0;
}

#productsummary p {
  margin: 0;
}

#productsummary {
  border-collapse: collapse;
  margin: 0.5em 0;
}

#productsummary td {
  padding-top: 1em;
  padding-right: 1em;
  padding-bottom: 1em;
}

#productsummary img {
  border: 1px solid #999999;
}

#productsummary a:visited img {
  border: 1px solid purple;
}

#productsummary .newproduct {
  color: red;
}

/* Style for AdSense Wizards */
.adtypeheading {
  margin-bottom: 0;
}

.adtypesummary {
  border-collapse: collapse;
  padding: 2px;
  border: 0;
}

.adtypesummary p {
  margin-top: 0.5em;
}

.adtypesummary-cell {
  padding-top: 1.5em;
  padding-right: 2em;
  padding-bottom: 1.5em;
  border-bottom: 1px solid #dddddd;
}

.adtypesummary-last-cell {
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  border-bottom: 1px solid #dddddd;
}

.adtypesummary-cell h4 {
  margin: 0 0 0.25em 0;
  font-size: 1em;
}

.palettebox-start {
  text-align: right;
  padding: 5px;
  padding-right: 1em;
  border: 1px solid #cccccc;
  border-right: 0;
}

.palettebox-end {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 2px;
  border: 1px solid #cccccc;
  border-left: 0;
  white-space: nowrap;
}

.multi-palette-box {
  height: 10em;
  width: 15em;
}

.color-field-label {
  text-align: right;
  padding-right: 1em;
}

.color-field {
  font-family: "Courier New", Courier, monospace;
  margin-top: 2px;
  margin-bottom: 2px;
}

.colorhover {
  border: 1px solid blue;
  cursor: pointer;
  height: 16px;
  width: 20px;
  display: block;
  margin-left: 4px;
}

.warnicon {
  border: 1px solid #B9960B;
  background-color: #F2C313;
  font-weight: bold;
}

.wizard-form {
 /* Reserved for setting a wizard width */
}

.wizard-optional-heading {
  background: #e6e6e6;
}

.wizard-optional-heading-cell {
  padding: 0.5em;
}

.wizard-optional {
  background: #f6f6f6;
}

.wizard-optional-cell {
  padding: 0.5em;
  padding-right: 2.5em;
  border-bottom: 1px solid #dddddd;
}

.wizard-optional-cell-nobottom {
  padding: 0.5em;
  padding-right: 2.5em;
}

.wizard-optional-cell-bottom {
  padding-right: 2.5em;
}

.wizard-hidden-option {
  display: none;
  margin-left: 2em;
}

.linkunit-wrapper {
  width: 160px;
}

.linkunit-sample-heading {
  text-align: left;
  background: #336699;
  color: #ffffff;
  padding: 2px;
  font-size: 12px;
  font-weight: bold;
  text-decoration: underline;
}

.linkunit-sample-body {
  font-size: 12px;
  line-height: 16px;
  overflow: hidden;
  padding: 2px;
  padding-left: 8px;
  color: #0000CC;
  text-decoration: underline;
}

li.cross_promotion_section {
  margin-top: 0.5em;
}

ul.cross_promotion_section {
  margin-left: 0;
  padding-left: 1.5em;
}

/* Styles for Referrals Code Wizard */
.refwiz_product_header {
  border-bottom: 1px solid #ccc;
}

.refwiz_product_header h2 {
  margin: 0;
}

.refwiz_scrollable_div {
  height: 25em;
  overflow: auto;
  border: 1px solid #ccc;
  background: #f6f6f6;
}

.refwiz_cpa_creatives_div {
  border: 1px solid #ccc;
  background: #f6f6f6;
}

table.refwiz_prod_select {
  border-collapse: collapse;
  width: 100%;
}

.refwiz_creative_type {
  border-top: 1px solid #ddd;
  padding: 0.5em;
  background: #eee;
}

.refwiz_creative_row > td {
  padding: 0.25em 0.5em;
  vertical-align:top;
}

table.refwiz_prod_select label {
  margin: 1em;
  display: block;
  float: left;
  white-space: nowrap;
}

table.refwiz_prod_select label img {
  vertical-align: middle;
  cursor: pointer;
}

.refwiz_textlink {
  padding: 0.5em 0;
  color: #00c;
  text-decoration: underline;
  cursor:pointer;
}

.refwiz_no_creatives_available {
  padding: 1em;
}

.refwiz_text_creative {
  display:table-row;
}

.refwiz_creative_flash {
  vertical-align: middle;
}

.refwiz_product_list {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  border-collapse: collapse;
}

.refwiz_product_list td.head {
  padding: 0.25em 0.5em;
  font-weight: bold;
  background: #eee;
  vertical-align:bottom;
  height: 30px;
}

.refwiz_product_list td.body {
  padding: 0.25em 0.5em;
  border-top: 1px solid #ddd;
  vertical-align: top;
}

.refwiz_product_title {
  font-size: 1.2em; 
  font-weight: bold;
}

.refwiz_product_company {
  font-weight: bold; 
  color: #999999;
}

.refwiz_link {
  font-size:85%;
  color:#008000;
}

.refwiz_cpa_value {
  white-space: nowrap;
  font-weight: bold;
  font-size: medium;
  text-align: right;
}

.refwiz_popup {
  position:absolute;
  padding:0;
  z-index:200;
}

.refwiz_popup .textlink {
  padding: 0.5em 0;
  color: #00c;
  text-decoration: underline;
  cursor:pointer;
}

.refwiz_popup_shadow {
  position:absolute;
  background:black none repeat scroll 0%;
  filter: Alpha(Opacity=10); -moz-opacity:0.1; opacity: 0.1;
  padding:0;
  z-index:170;
}

.refwiz_popup_iframe {
  position:absolute;
  z-index:165;
  border:0px;
}

.refwiz_preview {
  position:absolute;
  background-color:#C3D9FF;
  border:1px solid #3A5774;
  padding:8px;
  z-index:270;
}

.refwiz_preview_title {
  background-color:#E0EDFE;
  border-bottom:1px solid #CCCCCC;
  font-weight:bold;
  padding:8px;
}

.refwiz_preview_content {
  background-color:#FFFFFF;
  padding:4px;
}

.refwiz_preview_buttons {
  background-color:#E0EDFE;
  border-top:1px solid #CCCCCC;
  padding:4px 12px 4px 12px;
  text-align:center;
}

.refwiz_preview_bg {
  filter: Alpha(Opacity=70); -moz-opacity:0.65; opacity: 0.65;
  background-color:#FFFFFF;
  position:absolute;
  left:0px;
  top:0px;
}

.refwiz_preview_bg_iframe {
  position:absolute;
  border:0px;
  filter: Alpha(Opacity=0); 
}

/* Styles for Referrals Shopping Cart */
.refwiz_sc {
  background-color: #EEEEEE;
  padding: 0.5em;
  width: 100%;
}

.refwiz_sc .section {
  border-bottom: 1px solid #CCCCCC;
  border-right: 1px solid #CCCCCC;
  background-color: #FFFFFF;
}

.refwiz_sc .header {
  background-color: #FEFEFE;
  font-weight: bold;
  padding: 0.5em 0.5em 0.2em 10px;
}

.refwiz_sc .cell {
  padding: 0.5em 0.5em 0.5em 2em;
}

/* Styles for the ad unit preview */
.adunit_preview {
  position:absolute;
  background-color:#C3D9FF;
  border:1px solid #3A5774;
  padding:8px;
}

.adunit_preview_title {
  background-color:#E0EDFE;
  border-bottom:1px solid #CCCCCC;
  font-weight:bold;
  padding:8px;
}

.adunit_preview_content {
  background-color:#FFFFFF;
  padding:4px;
}

.adunit_preview_select {
  background-color:#E0EDFE;
  border-bottom:1px solid #CCCCCC;
  padding:4px 12px 4px 12px;
}

.adunit_preview_buttons {
  background-color:#E0EDFE;
  border-top:1px solid #CCCCCC;
  padding:4px 12px 4px 12px;
  text-align:center;
}

/* Styles for the color picker */
table.palette {
  font-size: 5px;
  border:1px solid #999999;
  border-collapse:collapse;
  background: #000000;
}

table.palette td a {
  display:block;
  text-decoration:none;
}

table.palette td a div {
  width: 20px;
  height: 20px;
}

table.palette a {
  border: 1px solid #cccccc;
  padding:1px;
}

table.palette a:hover {
  border:1px solid red;
  cursor:pointer;
}

/* A thin yellow box around a warning message in signup pages. */
.signup_warning_box {
    border: 1px solid rgb(255, 204, 0);
    padding: 0.5em;
}

/* A small yellow background around a symbol, such as an exclamation point. */
.signup_warning_icon {
  border: 1px solid rgb(185, 150, 11);
  background-color: rgb(242, 195, 19);
  font-weight: bold;
}

.lightblue {
  background-color: #E6F3FF;
}

.bluelink {
  color: #0000CC;
}

.bluelink img {
  border: 0;
  vertical-align: middle;
  margin-right: 2px;
}

.greylink {
  color: #666666;
}

.metalink {
  color: #7777CC;
}

.status_label {
  margin-left: 0.5em;
  color: #666666;
  font-size: 0.7em;
}

.note_label {
  font-weight:normal;
  color: #666666;
}

.note_label_small {
  font-weight:normal;
  color: #666666;
  font-size: 0.9em;
}

.note_label_small a {
  color: #0000FF;
}

.all_borders {
  border: 1px solid #CCCCCC;
}

.top_border {
  border-top: 1px solid #CCCCCC;
}

.bottom_border {
  border-bottom: 1px solid #CCCCCC;
}

.right_border {
  border-right: 1px solid #CCCCCC;
}

.left_border {
  border-left: 1px solid #CCCCCC;
}

a.addLoginLink {
  margin-left: 1em;
  font-weight: normal;
  font-size: 0.9em;
}

UL.leftAlignedList {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0; /* otherwise IE has extra bottom margin that netscape doesn't */
}

UL.leftAlignedList LI {
  margin-left: -30px;
  text-indent: -0.7em;
  margin-top: 10px; /* # see above */
}

UL.leftAlignedList LI IMG.bullet {
  width: 0.4em;
  height: 0.4em;
  vertical-align: middle;
}

TABLE.edit_section TD.content {
  border-bottom: 1px solid #b0b0b0;
}

TABLE.edit_section TD.header {
  border: 1px solid #b0b0b0;
  background-color: #dbe6de;
}

TABLE.edit_section TD.indentedContent {
  padding-left: 12px;
  padding-top: 8px;
  padding-bottom: 20px;
  padding-right: 5px;
}

.bottombar {
  border: 1px solid #b0b0b0;
  background-color: #e6f3ff;
  padding: 3px;  padding:0.25em 0.5em;
  border-bottom:1px solid #ddd;
  vertical-align:top;
}

INPUT.submit {
  font-weight: bold;
}

.smaller {
  font-size: 80%;
}

h4.pageHead {
  font-size: 130%;
  margin: 0px;
  margin-top: 18px;
}

#breadcrumbs {
  background:#E6F3FF;
  padding:0.5em;
}

.datatable {
  border:1px solid #ddd;
  border-collapse:collapse;
}

.datatable thead td {
  font-weight:bold;
  background:#eee;vertical-align:bottom;
}

.datatable td {
  padding:0.25em 0.5em;
  border-bottom:1px solid #ddd;
  vertical-align:top;
}

.datatable td.middle {
  vertical-align:middle;
}

.message {
  margin:1em 0;padding:5px;text-align:left;width:50em;
}

.message h2 {
  font-size:1em;font-weight:bold;text-transform:uppercase;display:inline;
}

.message p {
  display:inline;
  padding-left:10px;
}

table .message {
  margin:0 0 0.5em 0;
  width:100%;
}

#messagelist a {
  color:#000;
  text-decoration:none;
}

#messagelist tr td {
  font-weight:bold;
  border-bottom:1px solid #bbb;
  cursor:pointer;
}

#messagelist tr.messageread td {
  font-weight:normal;
  background:#e8eef7;
}

#messagelist tr.nomessages td {
  font-weight:normal;
  color:#666;text-align:center;
}

#messagelist tr.nomessages a {
  color:#00c;
  text-decoration:underline;
}

.dismisslink {
  color:#666;
  margin-left:2em;
}

.warningicon {
  border: 1px solid #B9960B;
  background-color: #F2C313;
  padding-left: 0.3em;
  padding-right: 0.3em;
  font-weight: bold;
}

.infolabel {
  background: #FFCC33;
  padding: 0.25em;
}

.announcement-box {
  padding: 5px; 
  background: #E2FFE4;
}

.announcement-box-title {
  font-size: 1em; 
  font-weight: bold; 
  display: inline; 
  color: green;
}

.announcement-box-text {
  display: inline;
  padding-left: 10px;
  padding-right: 10px;
}

.analyticslink {
  font-weight: bold;
  color: #2F589C;
}

/* Ad slots status labels styles */
.activeAdSlot {
  color: #3F7C5F;
}

.inactiveAdSlot {
  color: #666666;
}

.pausedAdSlot {
  color: #BE790A;
}
