/* styles for reports overview page */

#summarytable {
  background:#fff;
  border:1px solid #ccc;
  width:42em;
  border-collapse:collapse;
}

#summarytable td {
  padding:5px 7px;
  text-align:right;
  vertical-align:top;
  font-size: 0.8em;
}

#summarytable tr.gray {
  background-color: #f5f5f5;
}

#summarytable tr.white  {
  background-color: #ffffff;
}

#summarytable tr.entity td.nameColumn {
  padding-left: 2em;
}

#summarytable .entitylink {
  margin-left:0.5em;
  white-space:nowrap;
}

#summarytable .entitylink img {
  border:0;
  vertical-align:middle;
  margin-right:2px;
}

#summarytable thead td {
  color:#666;
  font-size:11px;
  font-weight:bold;
}

#summarytable .thead td {
  color:#666;
  font-size:11px;
  font-weight:bold;
  border-top:1px solid #ccc;
}

#summarytable tfoot td {
  color:#333;
  font-size:1.15em;
  border-top:1px solid #ccc;
  background:#f0f0f0;
}

#summarytable .nodatarow td {
  border-top: 1px solid #ccc;
}

#summarytable .spacerrow td {
  font-size: 1px;
}

#summarytable .productcell {
  text-align: left;
  white-space: nowrap;
}

#summarytable .productname {
  font-weight: bold;
}

.tablecontrols {
  margin:1.5em 0 5px 0;
  width:48em;
  clear: both;
}

.tablecontrols * {
  vertical-align:bottom;
}

.tablecontrols a {
  margin-left:1em;
}

#quickreportsdiv {
  width: 49em;
  border: 1px solid #ccc;
  background: #f9f9f9;
  padding:  0.75em 1em;
}

.quickreportslist h4 {
  margin: 0 0 0.25em 0;
	font-size: 1em;
}

.quickreportslist ul {
  margin-left: 1em;
  padding: 0;
  list-style-type: none;
}

.quickreportslist li {
  line-height: 1.25em;
  margin:0.5em 0;
  padding:0;
}

h1.balance {
  font-size: 1.5em;
  color: #333;
  margin: 0;
  white-space:nowrap;
}
